server:
  port: 0

spring:
  config:
    activate:
      on-profile: test

  application:
    name: apis-test

  datasource:
    url: jdbc:tc:mysql:8.0.39:///test_db?TC_INITSCRIPT=file:src/test/resources/db/migration/mysql/v1_init.sql

  jpa:
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  sql:
    init:
      mode: never

  data:
    redis:
      host: localhost
      port: 6379

jwt:
  secret-key: test-secret-key-for-testing-purposes-only
  access-token-expiration: 1800  # 30 minutes
  refresh-token-expiration: 1209600  # 2 weeks

springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false
