management:
  server:
    port: ${ACTUATOR_PORT}
  endpoints:
    jmx:
      exposure:
        exclude: "*"
    web:
      exposure:
        include: info, health, metrics, prometheus
      base-path: ${ACTUATOR_PATH}

---
spring:
  config:
    activate:
      on-profile: test

management:
  server:
    port: 1234
  endpoints:
    jmx:
      exposure:
        exclude: "*"
    web:
      exposure:
        include: info, health, metrics, prometheus
      base-path: /actuator-test
