name: Prod CI/CD - Build, Push and Deploy

on:
  release:
    types:
      - published # GitHub Release가 'published' 상태일 때만 워크플로우를 실행합니다.

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

env:
  REGISTRY: docker.io
  IMAGE_PREFIX: ninecraft0523/ninecraft

jobs:
  build-push-and-deploy:
    runs-on: ubuntu-24.04
    timeout-minutes: 25
    environment: production
    strategy:
      fail-fast: false
      matrix:
        include:
          - module: apis
            port: 8080
          # - module: admin  # TODO: Uncomment when admin module is ready
          #   port: 8081
          - module: batch
            port: 8082

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy module
        uses: ./.github/actions/deploy-module
        with:
          environment: prod
          module: ${{ matrix.module }}
          port: ${{ matrix.port }}
          dockerhub-username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}
          secret-properties: ${{ secrets.PROD_SECRET_PROPERTIES }}
          apple-auth-key: ${{ secrets.APPLE_AUTH_KEY }}
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USERNAME }}
          ssh-key: ${{ secrets.PROD_SSH_KEY }}
          ssh-port: ${{ secrets.PROD_PORT }}
          discord-webhook-url: ${{ secrets.PROD_DEPLOY_DISCORD_WEBHOOK_URL }}
          image-prefix: ${{ env.IMAGE_PREFIX }}
          image-tag-type: |
            type=semver,pattern={{version}}
            type=raw,value=production-latest
          deploy-script: deploy.sh
